{{- $lang := .Type -}}
{{- $code := .Inner -}}

<div class="code-block">
  {{- if $lang -}}
    <div class="code-header">
      <span class="language">{{ $lang }}</span>
      <button class="copy-button" onclick="copyToClipboard(this)" title="Copy to clipboard">
        <span class="copy-icon">📋</span>
      </button>
    </div>
  {{- end -}}
  
  <div class="highlight">
    {{- highlight $code $lang .Options -}}
  </div>
</div>

{{- with .Page -}}
  {{- .Store.Set "hasCodeBlock" true -}}
{{- end -}}
